body {
    font-family: "Mountains of Christmas", serif;   
}

header {
    font-size: .75rem;
    background-color: #056CF2;
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: "Walter Turncoat", cursive;
}

/* This is for the hamburger  icon */
#myButton::before {
    content: "\2630";
    color: rgb(15, 14, 14);   
}
#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 44px;
    text-align: right;
    padding: .25rem 2vw;
    position: absolute;
    top: 0;
    right: 2vw;
}
ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: rgb(253, 253, 253);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
}
li.currrent-menu-item a {
    background-color: black;
} 
ul.menuLinks {
    display: none;
    list-style-type: none; /* effects large */
}
#myButton.open::before {
    content: "x";
    color: rgb(7, 7, 7);
}
ul.menuLinks.open {
    display: block;
}


/* This is for nav */
nav {
    font-family: "Walter Turncoat", cursive;
    font-weight: 300;
    background-color: #056CF2;
}
.menulinks {
    touch-action: auto;
}

.active {
    background-color: #3655b3;
    border-radius: 50%;
}


/*div section area */
.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    background-color: #eee6e4;
}
.flexbox-item {
    width: 280px;
    margin: 10px;
}
.flexbox-item-1 {
    min-height: 30px;
}
.flexbox-item-1 h1 {
    margin: auto;
    font-size: 20px;
    background-color: #056CF2;
    padding: 5px;
    color: white;
}
.flexbox-item-2 {
    min-height: 30px;
}
.flexbox-item-2 h1 {
    margin: auto;
    font-size: 20px;
    background-color: #056CF2;
    padding: 5px;
    color: white;
}
.flexbox-item-3 {
    min-height: 30px;
}
.flexbox-item-3 h1 {
    margin: auto;
    font-size: 20px;
    background-color: #056CF2;
    padding: 5px;
    color: white;
}
.filterButtons {
    background-color: white;
    padding: .5rem;
    display: flex;
    justify-content: space-around;
}
#allButton, #cseButton, #wddButton {
    color: white;
    min-width: 60px;
    background-color: black;
    font-weight: 600;
    border-radius: 15px;
}
.courseItem {
    min-width: 270px;
    background-color: gray;
    color: #03258C;
    font-size: 1.5rem;
    font-weight: bolder;  
}
.completed {
    background-color: #03258C;
    color: white;
}
#total {
    font-size: 25px;
    font-weight: bolder;
    margin: auto;
}

footer {
    font-size: .75rem;
    background-color: #056CF2;
    color: white;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 500;
    font-family: "Walter Turncoat", cursive;
}


/* Color Theme Swatches in Hex */
.color-theme_WHO-1-hex { color: #03258C; }
.color-theme_WHO-2-hex { color: #021859; }
.color-theme_WHO-3-hex { color: #056CF2; }
.color-theme_WHO-4-hex { color: #F2CB05; }
.color-theme_WHO-5-hex { color: #BF2604; }

/* Color Theme Swatches in RGBA */
.color-theme_WHO-1-rgba { color: rgba(3, 37, 140, 1); }
.color-theme_WHO-2-rgba { color: rgba(2, 24, 89, 1); }
.color-theme_WHO-3-rgba { color: rgba(5, 108, 242, 1); }
.color-theme_WHO-4-rgba { color: rgba(242, 203, 5, 1); }
.color-theme_WHO-5-rgba { color: rgba(191, 38, 4, 1); }

