@media only screen and (min-width: 38rem) {
    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }

    /* ul.menuLinks a:hover {
        background-color: #021859;
    } */

    /* .container {
        display: flex;
        flex-wrap: wrap;
    }  */

    ul.filterMenuLinks, ul.filterMenuLinks.open {
        display: flex;
        justify-content: space-around;
    }
}